* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 0;
  background: transparent;
  transition: background 0.3s, box-shadow 0.3s;
  z-index: 1000;
}

nav.scrolled {
  background: #111;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

/* MENU */
.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding-bottom: 5px;
  transition: color 0.3s, border-bottom 0.3s;
}

/* HOVER EFFECT */
.nav-menu a:hover {
  color: #00c6ff;
  border-bottom: 2px solid #00c6ff;
}

/* SECTIONS */
.section {
  height: 100vh;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* TEXT SPACING */
.section h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.section p {
  font-size: 18px;
}

/* BACKGROUNDS */
.home {
  background: #1e3c72;
}

.about {
  background: linear-gradient(135deg, #134e5e, #1f6f78);
}

.services {
  background: #42275a;
}

.contact {
   background: linear-gradient(135deg, #232526, #414345);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    gap: 15px;
  }
}
